<!DOCTYPE html>
<html>
<head>
    <title>Concepts of Physics - H.C. Verma</title>
</head>
<body>
    <h1>Concepts of Physics</h1>
    <img src="https://ecom.myedubag.com/image/cache/data/concept%201-600x800.jpg" alt="HC Verma Concepts of Physics Cover" width="300">

    <h3>Explore:</h3>
    <ul>
        <li><a href="{% url 'metadata' %}">Metadata</a></li>
        <li><a href="{% url 'reviews' %}">Reviews</a></li>
        <li><a href="{% url 'publisher' %}">Publisher Info</a></li>
    </ul>
</body>
</html>
