<!DOCTYPE html>
<html>
<head>
    <title>Publisher Info</title>
</head>
<body>
    <h1>Publisher Information</h1>
    <p><strong>Publisher:</strong> Bharati Bhawan Publishers & Distributors</p>
    <p><strong>Address:</strong> 2A, R.N. Mukherjee Road, Kolkata, India</p>
    <p><strong>Contact:</strong> info@bharatibhawan.in</p>
    <p><strong>Website:</strong> <a href="http://www.bharatibhawan.in" target="_blank">www.bharatibhawan.in</a></p>

    <a href="{% url 'home' %}">Back to Home</a>
</body>
</html>
